@charset "utf-8";
body{
    text-align: center;
    max-width: 100%
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius: 15px;
    font-family: sans-serif;
}

.titulo {
    font-size: 24px;
    padding: 10px 10px 0 10px;
    text-align: center;
    color: #333;
}

.cuerpo {
    padding: 10px;
    text-align: center;
}

/* Ajuste de tamaño de la imagen */
.cuerpo img {
    max-width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
    height: auto;    /* Mantén la proporción de la imagen */
    border-radius: 10px; /* Opcional: bordes redondeados */
}

